header {
  position: absolute;
  top:0;
  width:100%;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.wrapper {
  position: absolute;
  top:40px;
  bottom: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.buttonMenu {
  min-width: 60px;
}

.headerColor {
  color: rgba(16, 16, 153, 0.575)
}

.fontDetail {
  font-family: sans-serif;
  font-size: smaller;
}

.calenderSize {
  width : 100px;
}

.divBackgroud {
  background-color: #fff
}